In [1]:
from glob import glob
import modin.pandas as pd

Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-04-28_19-02-44_22715/logs.
Waiting for redis server at 127.0.0.1:14387 to respond...
Waiting for redis server at 127.0.0.1:12568 to respond...
Starting Redis shard with 10.0 GB max memory.
WARNING: The object store is using /tmp instead of /dev/shm because /dev/shm has only 8059645952 bytes available. This may slow down performance! You may be able to free up space by deleting files in /dev/shm or terminating any running plasma_store_server processes. If you are inside a Docker container, you may need to pass an argument with the flag '--shm-size' to 'docker run'.
Starting the Plasma object store with 9.0 GB memory using /tmp.

In [2]:
pd.set_option('display.width', 1000)
pd.set_option('display.expand_frame_repr', True)
pd.set_option('display.max_colwidth', 100)
pd.set_option('display.max_columns', 100)

In [3]:
def read_first_parquet(path):
    first_file = glob(path)
    return pd.read_parquet(first_file[0])

## Real weather data

In [4]:
read_first_parquet('../data/weather_real/*/*/*.parquet').head()

  zip_code obs_geo_lat obs_geo_lng  obs_name  distance             timestamp day_ind  temp  feels_like  icon_extd  wx_icon wx_phrase  pressure  pressure_tend    pressure_desc  uv_index uv_desc  dewPt  heat_index    rh   vis   wc   wdir wdir_cardinal  gust  clds  wspd  precip_total  precip_hrly
0    27239       52.79        8.64  Diepholz      1040  2018-10-02T00:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.6            1.0           Rising         0     Low    4.0         6.0  88.0  55.0  2.0  270.0             W  22.0  None  18.0           NaN          NaN
1    49635       52.63        7.98  Diepholz       429  2018-10-02T00:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.6            1.0           Rising         0     Low    4.0         6.0  88.0  55.0  2.0  270.0             W  22.0  None  18.0           NaN          NaN
2    27239       52.79        8.64  Diepholz      1040  2018-10-02T01:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.4            2.0  Falling Rapidly         0     Low    3.0         6.0  85.0  65.0  2.0  260.0             W  25.0  None  18.0           NaN          NaN
3    49635       52.63        7.98  Diepholz       429  2018-10-02T01:00:00Z       N   6.0         2.0     3300.0     33.0      Fair    1014.4            2.0  Falling Rapidly         0     Low    3.0         6.0  85.0  65.0  2.0  260.0             W  25.0  None  18.0           NaN          NaN
4    27239       52.79        8.64  Diepholz      1040  2018-10-02T02:00:00Z       N   4.0         2.0     2600.0     26.0    Cloudy    1014.4            2.0          Falling         0     Low    3.0         4.0  88.0  50.0  2.0  230.0            SW  14.0  None  11.0           NaN          NaN

## Fake devices with geolocation

In [5]:
read_first_parquet('../data/device_geolocations_fake/*.parquet').head()

                           gateway_uuid  geo_lat  geo_lng zip_code
0  cbf4a64b-561e-4044-98c6-4aa732e8fcd3  53.6900  10.1297    22397
1  d0d87dc1-c9cc-48d6-8c6e-22470e4f15db  49.6503   7.3895    55743
2  f14b552b-2e0d-44b5-b8f9-a4b7339d8e14  48.2400  11.4805    85757
3  79ee737c-225c-40c0-8fdd-b40669cdcf8f  52.6788   9.0198    31608
4  4a976e33-6a3f-4b53-b780-788b5b2c296d  51.1687   7.0113    42697

## Fake features/events

In [8]:
read_first_parquet('../data/features_fake/*/*/*.parquet').head()

                           gateway_uuid             timestamp                          property  value
0  cbf4a64b-561e-4044-98c6-4aa732e8fcd3  2018-10-01T00:00:00Z  device.temperature.outside/value    9.3
1  4211f7a8-de50-48f5-844d-587a3b73d65c  2018-10-01T00:00:00Z     device.temperature.room/value   21.3
2  23c36094-2517-4d96-9ebd-d135a173d320  2018-10-01T00:00:00Z     device.temperature.room/value   19.7
3  232529a4-81a7-4ba4-8771-ded92b3e1a4b  2018-10-01T00:00:00Z     device.temperature.room/value   22.0
4  b0a671b9-4ab5-4f60-b3b4-e2edcf477686  2018-10-01T00:00:00Z     device.temperature.room/value   20.8